.checkout__title{
    padding: 10px;
    margin-right: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout{
    display: flex;
    padding: 10px;
    background-color: white;
    height: max-content;
}