.header{
    height: 60px;
    background-color: black;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo{
    width: 100px;
   object-fit: contain;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 18px;
}

.cloud{
    margin: 8px;
    font-size: 23px;
    font-style: italic;
    color: #f7f2f4;
    text-decoration: beige;
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__optionlineone{
    font-size: 10px;
}

.header__optionlinetwo{
    font-size: 13px;
    font-weight: 800;
}

.header__link{
color: white;
text-decoration: none;
}

.header__search{
    display: flex;
   flex: 1;
}

.header__searchInput{
height: 12px;
padding: 10px; 
border: none;
width: 100%;
}

.header__searchicon{
    padding: 5px;
    height: 22px !important;
    background-color: #ee6ba2;
}

.header__optionbasket{
    display: flex;
    align-items: center;
}

.header__basketcount{
    margin-left: 10px;
    margin-right: 10px;
}